<!-- <div>
  <app-login></app-login>
</div> -->

<!-- <a routerLink="/login" routerLinkActive="active">Login</a> -->
<!-- 
<app-login (loginEvent)="checkLogin($event)"></app-login> -->
<header>
  <h2> Solutions</h2>
</header>
<div *ngIf="check; else login">
  <nav>
    <a routerLink="/add" routerLinkActive="active">Add</a>
    <a routerLink="/view" routerLinkActive="active">View</a>
  </nav>
  <router-outlet></router-outlet>
</div>
<ng-template #login>
  <app-login (loginEvent)="checkLogin($event)"></app-login>
</ng-template>
<!-- <div>

  <router-outlet></router-outlet>
</div> -->
