<div class="filter">
    <mat-form-field>
      <input matInput [matDatepicker]="startPicker" placeholder="Start Date" [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput [matDatepicker]="endPicker" placeholder="End Date" [(ngModel)]="endDate">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
     <div class="rec-filter">
        <h3>Recruiters</h3>
        
        
        <ul>
          <li *ngFor="let recruiter of recruiters">
            <input type="checkbox" [(ngModel)]="recruiter.selected" /> {{ recruiter.name }}
          </li>
        </ul>
      </div>
      
     
      <div class="cand-filter">
        <h3>Candidates</h3>
        <ul>
          <li *ngFor="let candidate of candidates">
            <input type="checkbox" [(ngModel)]="candidate.selected" /> {{ candidate.name }}
          </li>
        </ul>
      </div> 
      <!-- <div class="rec-filter">
        <h3>Recruiters</h3>
        <mat-form-field>
          <mat-select placeholder="Select Recruiters" [(ngModel)]="selectedRecruiters" multiple>
            <mat-option *ngFor="let recruiter of recruiters" [value]="recruiter">
              {{ recruiter.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    
      <div class="cand-filter">
        <h3>Candidates</h3>
        <mat-form-field>
          <mat-select placeholder="Select Candidates" [(ngModel)]="selectedCandidates" multiple>
            <mat-option *ngFor="let candidate of candidates" [value]="candidate">
              {{ candidate.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->


  
    <button (click)="filterSubmissions()">Apply Filter</button>
</div>
  

<div class="table-data">
    <table mat-table [dataSource]="submissions">

        <!-- Position Column -->
        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef> Company </th>
          <td mat-cell *matCellDef="let element"> {{element.company}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> Role </th>
          <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="recId">
          <th mat-header-cell *matHeaderCellDef> Recruiter </th>
          <td mat-cell *matCellDef="let element"> {{element.recId}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="candId">
          <th mat-header-cell *matHeaderCellDef> Candidate </th>
          <td mat-cell *matCellDef="let element"> {{element.candId}} </td>
        </ng-container>

        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef> Time Stamp </th>
            <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
          </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="submissionColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: submissionColumns;"></tr>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
      </table>
</div>