:host {
    display: block; /* Ensure the component takes the full width */
  }
  h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(27, 89, 143);
    color: rgb(234, 146, 113);
    margin: 0;  
    padding: 10px;
    text-align: center;
    font-size: xx-large;
}

nav {
    background-color: #033354;
    padding: 10px;
    display: flex;
}

nav a {
    flex: 1;
    color: #ecf0f1;
    text-decoration: none;
    padding: 8px;
    margin: 0 10px;
    font-size: 16px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #3a5160;
}
nav a.active {
    background-color: #3a5160;
}
